:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  ---color-white: #fff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 8rem rgba(0, 0, 0, 0.3);
  --border-bottom: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin: 0 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100rem;
    padding: 0.7rem 2rem;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input::placeholder {
      color: var(--color-grey-light-4); }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button-icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-dark-3); }

.user {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s; }
  .user > *:hover {
    background-color: var(--color-grey-light-2); }
  .user__bookmarks-container {
    position: relative; }
  .user__bookmarks-icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-dark-2); }
  .user__bookmarks-amount {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: var(---color-white);
    background-color: var(--color-primary);
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user__notifications-container {
    position: relative; }
  .user__notifications-icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-dark-2); }
  .user__notifications-amount {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: var(---color-white);
    background-color: var(--color-primary);
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user__info-photo {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }

.sidebar__item {
  position: relative;
  list-style: none; }
  .sidebar__item:not(:last-child) {
    margin-bottom: 0.5rem; }
  .sidebar__item--active {
    background-color: var(--color-primary); }

.sidebar__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  z-index: 1;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }

.sidebar__item:hover::before {
  transform: scaleY(1);
  width: 100%; }

.sidebar__item:active::before {
  background-color: var(--color-primary-light); }

.sidebar__link:link, .sidebar__link:visited {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--color-grey-light-1);
  text-decoration: none;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center; }

.sidebar__icon {
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 2rem;
  fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);
  text-align: center; }

.gallery {
  display: flex; }
  .gallery__image {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(---color-white);
  border-bottom: var(--border-bottom); }
  .overview > * {
    display: flex;
    align-items: center;
    align-self: stretch; }
  .overview__title {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem;
    color: var(--color-grey-dark-2); }
  .overview__stars-container {
    display: flex; }
  .overview__icon-star {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    align-items: center;
    margin: 0 3rem;
    transition: all 0.3s;
    font-size: 1.25rem; }
    .overview__location--icon {
      height: 1.75rem;
      width: 1.75rem;
      fill: var(--color-primary);
      margin-right: 0.5rem; }
    .overview__location *:hover {
      color: var(--color-primary); }
  .overview__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2.25rem;
    background-color: var(--color-primary);
    color: var(---color-white); }
    .overview__rating--average {
      font-size: 2.25rem;
      font-weight: 400;
      margin-bottom: -0.5rem; }
    .overview__rating--count {
      font-size: 0.9rem;
      text-transform: uppercase; }

.button-inline {
  display: inline-block;
  border: none;
  background: transparent;
  font-size: inherit;
  letter-spacing: 0.1rem;
  cursor: pointer;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding: 2px 0;
  transition: all 0.2s; }
  .button-inline:hover {
    color: var(--color-grey-dark-1); }
  .button-inline:focus {
    outline: none;
    animation: pulseAnim 1s infinite; }

@keyframes pulseAnim {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph {
  border-bottom: var(--border-bottom); }
  .paragraph :last-child {
    padding: 2rem 0 3rem 0; }

.list {
  padding: 3rem 0;
  border-bottom: var(--border-bottom);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    list-style: none;
    padding-bottom: 0.8rem; }
    .list__item--icon {
      height: 1.25rem;
      width: 1.25rem;
      fill: var(--color-primary);
      margin-right: 1rem; }

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  padding: 2.5rem 0; }
  .recommend__images {
    display: flex; }
  .recommend__image {
    box-sizing: content-box;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: 4px solid var(---color-white);
    margin-left: -1.5rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: var(---color-white);
  border-bottom: var(--border-bottom); }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 18%;
  padding: 3rem 0;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: var(---color-white);
  flex: 1; }

.detail {
  display: flex;
  padding: 4.5rem;
  border-bottom: var(--border-bottom);
  background-color: var(--color-grey-light-1); }

.description {
  flex: 0 0 60%;
  font-size: 1.4rem;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  background-color: #fff;
  font-size: 1.35rem; }

.user-reviews {
  background-color: yellow;
  flex: 1; }
