////////////////////////////////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin: 0 2rem;
}

////////////////////////////////////////////
// SEARCH
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100rem;
    padding: 0.7rem 2rem;
    width: 90%;
    transition: all 0.2s;

    margin-right: -3.25rem; // this will let the button be on-top of the input search bar

    &::placeholder {
      color: var(--color-grey-light-4);
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
  }

  // selects the sibling of the 'search__input' selector, when its focused (ie: 'search__button')
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    // &:active {
    //   transform: translateY(2px);
    // }

    &-icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-dark-3);
    }
  }
}

////////////////////////////////////////////
// USER NAVIGATION
.user {
  display: flex;
  align-items: center;
  align-self: stretch;

  // selects all the DIRECT children of the '.user' class. ie: 'user__bookmarks-container', 'user__notifications-container', 'user__info'
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__bookmarks {
    &-container {
      position: relative;
    }

    &-icon {
      height: 3rem;
      width: 3rem;
      fill: var(--color-grey-dark-2);
    }

    &-amount {
      font-size: 1rem;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      color: var(---color-white);
      background-color: var(--color-primary);
      position: absolute;
      top: 1.5rem;
      right: 1.2rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__notifications {
    &-container {
      position: relative;
    }

    &-icon {
      height: 3rem;
      width: 3rem;
      fill: var(--color-grey-dark-2);
    }

    &-amount {
      font-size: 1rem;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      color: var(---color-white);
      background-color: var(--color-primary);
      position: absolute;
      top: 1.5rem;
      right: 1.2rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__info {
    &-photo {
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
}

////////////////////////////////////////////
// SIDE BAR

.sidebar {
  &__items {
  }

  &__item {
    position: relative;
    list-style: none;

    // selects all BUT the last child of the 'sidebar__item' element
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &--active {
      background-color: var(--color-primary);
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    z-index: 1;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-grey-light-1);
    text-decoration: none;
    padding: 1.5rem 3rem;

    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}

////////////////////////////////////////////
// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);
  text-align: center;
}

////////////////////////////////////////////
// GALLERY
.gallery {
  display: flex;

  &__image {
    width: 100%;
    display: block; // avoids having small gaps between and underneath the image (default is 'inline')
  }
}

////////////////////////////////////////////
// HOTEL OVERVIEW BAR

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(---color-white);
  border-bottom: var(--border-bottom);

  & > * {
    display: flex;
    align-items: center;
    align-self: stretch; // enables each container to stretch to the entire height of the parent container.
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem;
    color: var(--color-grey-dark-2);
  }

  &__stars-container {
    display: flex;
  }

  &__icon-star {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
    margin: 0 3rem;
    transition: all 0.3s;

    font-size: 1.25rem; // will be inherited by the button

    &--icon {
      height: 1.75rem;
      width: 1.75rem;
      fill: var(--color-primary);
      margin-right: 0.5rem;
    }

    *:hover {
      color: var(--color-primary);
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0 2.25rem;
    background-color: var(--color-primary);
    color: var(---color-white);

    &--average {
      font-size: 2.25rem;
      font-weight: 400;
      margin-bottom: -0.5rem;
    }

    &--count {
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }
}

////////////////////////////////////////////
// BUTTON INLINE

// when styling a button
.button-inline {
  display: inline-block;
  border: none; // buttons by default always come with border.
  background: transparent; // removes the default background
  font-size: inherit;
  letter-spacing: 0.1rem;
  cursor: pointer;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor; // this will make the border color the same as the text color from the 'color' property in this element.
  padding: 2px 0; // creates some space between the text and the border-bottom
  transition: all 0.2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    outline: none; // removes the default blue border
    animation: pulseAnim 1s infinite;
  }
}

@keyframes pulseAnim {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

////////////////////////////////////////////
// PARAGRAPH

.paragraph {
  border-bottom: var(--border-bottom);

  & :last-child {
    padding: 2rem 0 3rem 0;
  }
}

////////////////////////////////////////////
// LIST

.list {
  padding: 3rem 0;
  border-bottom: var(--border-bottom);

  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;

    flex: 0 0 50%; // '50%' inorder to have 2 elements side by side (100% / 2 = 50%)

    list-style: none;
    padding-bottom: 0.8rem;

    &--icon {
      height: 1.25rem;
      width: 1.25rem;
      fill: var(--color-primary);
      margin-right: 1rem;
    }

    // 🟢 adding svg icon in CSS instead of in HTML.
    // lets us see the background color through the 'svg' element (dont prefer this way tho)
    // &::before {
    //   content: "";
    //   display: inline-block;
    //   height: 1.25rem;
    //   width: 1.25rem;
    //   margin-right: 1rem;

    //   background-color: var(--color-primary);
    //   -webkit-mask-image: url(../img/chevron-thin-right.svg);
    //   -webkit-mask-size: cover;
    // }
  }
}

////////////////////////////////////////////
// RECOMMENDATIONS

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  padding: 2.5rem 0;

  &__text {
  }

  &__images {
    display: flex;
  }

  &__image {
    box-sizing: content-box;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: 4px solid var(---color-white);
    margin-left: -1.5rem;
  }
}
